
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOSPITAL MANAGEMENT SYSTEM</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        body {
            
            background-image: url('../../content/images/heart-lines.gif');
            background-attachment: fixed;
            background-position: right;
            background-size: 1360px 768px;
            background-color: #77c9d4;
            font-family: Arial, sans-serif;
        }
        .navbar {
            background-color: #000000;
        }

        .navbar-brand, .navbar-nav .nav-link {
            color: #000000;
        }

        .container {
            padding: 8px;
            color: #ffffff;
            width: 1600px;
            align-items:center;
            text-align:center;
        }
    </style>
</head>
<body>

    <div class="container">
          

        <h1 style="margin-top:200px">Welcome to Our Hospital</h1>
        <p>We Manage patients, appointments, and doctors efficiently.</p>


    </div>


</body>
</html>


